<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.cs336.pkg.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRepServlet</display-name>
    <servlet-name>CustomerRepServlet</servlet-name>
    <servlet-class>com.cs336.pkg.CustomerRepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRepServlet</servlet-name>
    <url-pattern>/CustomerRepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRepAirports</display-name>
    <servlet-name>CustomerRepAirports</servlet-name>
    <servlet-class>com.cs336.pkg.CustomerRepAirports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRepAirports</servlet-name>
    <url-pattern>/CustomerRepAirports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRepFlights</display-name>
    <servlet-name>CustomerRepFlights</servlet-name>
    <servlet-class>com.cs336.pkg.CustomerRepFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRepFlights</servlet-name>
    <url-pattern>/CustomerRepFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepRes</display-name>
    <servlet-name>RepRes</servlet-name>
    <servlet-class>com.cs336.pkg.RepRes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepRes</servlet-name>
    <url-pattern>/RepRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightSearchServlet</display-name>
    <servlet-name>FlightSearchServlet</servlet-name>
    <servlet-class>com.cs336.pkg.FlightSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightSearchServlet</servlet-name>
    <url-pattern>/FlightSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>com.cs336.pkg.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveReservationServlet</display-name>
    <servlet-name>RemoveReservationServlet</servlet-name>
    <servlet-class>com.cs336.pkg.RemoveReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveReservationServlet</servlet-name>
    <url-pattern>/removeReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepEditRes</display-name>
    <servlet-name>RepEditRes</servlet-name>
    <servlet-class>com.cs336.pkg.RepEditRes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepEditRes</servlet-name>
    <url-pattern>/RepEditRes</url-pattern>
  </servlet-mapping>
</web-app>